//extend

%texto-mobile{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-align: left;
}
%titulo-principal{
    font-size: 25px;
    font-weight: 700;
    color: #fff047;
    text-align: left;
    margin-bottom: 1rem;
}