//mixin de flex
@mixin flex{
    display: flex;
    align-items: center;
}
//mixin titulo
@mixin texto($text-align, $font-size, $font-weight, $color){
    text-align: $text-align;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}
//mixin relleno texto
@mixin aspecto-texto{
    text-shadow: 1px 2px 3px rgb(83, 76, 4);
    margin: 2rem 5%;
    letter-spacing: 2px;
}
//mixin texto mq
@mixin texto-mq($font-size, $font-weight){
    font-size: $font-size;
    font-weight: $font-weight;
}